@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@font-face {
  font-family: "Neue-Thin";
  src: local("Neue-Thin"), url("./fonts/PPNeueMontreal-Thin.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Neue-Medium";
  src: local("Neue-Medium"), url("./fonts/PPNeueMontreal-Medium.otf") format("truetype");
  font-weight: bold;
}
body, html {
  border: 0;
}

* {
  font-family: "Neue-Thin";
}

::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4 {
  font-family: "Neue-Thin", sans-serif;
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: "Valera", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

a {
  font-family: "Valera", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid white;
}
a:hover {
  color: grey !important;
  border-color: grey !important;
}

#darkcontainer {
  margin-left: 0 !important;
  margin-top: 0 !important;
  background: rgb(35, 35, 35);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

#lightcontainer canvas {
  background: rgb(238, 235, 216);
}

.dark-theme #lightcontainer canvas {
  display: none;
}

.site-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  border: 0;
  position: fixed;
  left: 0;
  top: 0;
}
.site-wrapper .left-side {
  width: 20%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  transition: 0.3s linear;
}
.site-wrapper .right-side {
  padding-right: 1.5rem;
  width: 65%;
  padding-left: 5%;
  overflow-y: scroll;
  transition: 0.3s linear;
}

.main-wrapper {
  margin-top: 1.5rem;
  height: calc(100% - 3rem);
}
.main-wrapper > div {
  height: 100%;
}

.mobile-wrapper {
  display: none;
}

.light-theme canvas {
  position: fixed;
  top: 0;
  z-index: -10;
}

.main-heading h1 {
  font-family: "Neue-Thin", sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 28px;
  transition: 0.3s linear;
}
.main-heading h2 {
  font-family: "Valera", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  margin-top: 5px;
  transition: 0.3s linear;
}

.nav-list-wrapper {
  list-style-type: none;
  padding-left: 0;
  padding-top: 3rem;
}
.nav-list-wrapper a {
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s linear;
}
.nav-list-wrapper a:hover {
  transition: 0.3s linear;
}
.nav-list-wrapper a.active {
  color: #ce3120;
}
.nav-list-wrapper li {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.dots {
  padding-top: 1rem;
  display: block;
}

.dot {
  height: 8px;
  width: 8px;
  display: block;
  border-radius: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s linear;
  border: 3px solid;
}
.dot--blank {
  border: 2px solid;
}

.footer-wrapper {
  margin-top: auto;
  margin-bottom: 0.5rem;
}
.footer-wrapper ul {
  padding-left: 0;
  margin-bottom: 0;
}
.footer-wrapper ul li,
.footer-wrapper ul a {
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 0.1rem;
}
.footer-wrapper ul a {
  margin-right: 0.5rem;
}

.home-mission {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  transition: 0.3s linear;
}
.home-mission h2 {
  margin-top: 10px;
  font-size: 55px;
  margin-bottom: 0px;
}

.expertise {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.expertise .competence-wrapper {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: flex-end;
}
.expertise .competence-wrapper > div {
  align-items: flex-start;
  justify-content: flex-end;
}
.expertise h2 {
  font-size: 18px;
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
}
.expertise .competence {
  max-width: 17rem;
  margin-top: auto;
  margin-bottom: 0;
  padding-left: 3rem;
  margin-top: 2rem;
}
.expertise .competence label {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  font-size: 18px;
  width: auto;
  display: inline-flex;
  text-decoration: none;
  padding-bottom: 0.3rem;
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
  border-bottom: 2px solid;
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-top: 1rem;
  text-transform: lowercase;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s linear;
}
.expertise .competence label:hover {
  color: grey;
  opacity: 0.6;
  border-bottom: 2px solid;
  transition: 0.3s linear;
}
.expertise .competence label span {
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
}
.expertise .competence h3 {
  min-width: 15rem;
  display: flex;
  margin-top: 0.3rem;
  font-size: 30px;
  margin-bottom: 0rem;
}
.expertise .competence p {
  margin-top: 0.5rem;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 0rem;
}
.expertise .competence .expertise-tags {
  line-break: unset;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.expertise .competence .expertise-tags span {
  margin-left: 0rem;
  margin-right: 1rem;
  font-family: "Valera", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-break: unset;
  font-size: 14px;
  line-height: 1.5;
}
.about {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#about {
  padding-top: 7.8rem;
  padding-bottom: 1rem;
  text-align: left;
}
#about .about-inner {
  max-width: 18rem;
}
#about .about-inner p {
  line-height: 1.5;
  margin-top: 0;
  font-size: 14px;
}
#about h2 {
  font-size: 16px;
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 3rem;
}
#about h3 {
  font-size: 30px;
  margin-bottom: 0.7rem;
  margin-top: 1rem;
  font-family: "Neue-Thin", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s linear;
}
#about h3:hover {
  transition: 0.3s linear;
}
#about h3.active {
  color: #ce3120;
}
#about li {
  list-style-type: none;
}

#projects {
  padding-top: 6.8rem;
  padding-bottom: 1rem;
}
#projects h2 {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 3rem;
}

.projects-item .project-title {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  transition: 0.3s linear;
}
.projects-item .project-title h3 {
  margin-top: 0.7rem;
  margin-bottom: 0;
  text-align: right;
  font-size: 55px;
  white-space: nowrap;
  transition: 0.3s linear;
}
.projects-item .project-title h4 {
  white-space: nowrap;
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: lowercase;
  font-size: 18px;
  margin: 10px;
  transition: 0.3s linear;
}
.projects-item .project-content {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.projects-item .project-content .project-tab-inner {
  width: 50%;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 0.5rem;
  border-left: 0px solid;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.projects-item .project-content .project-tab-inner h2,
.projects-item .project-content .project-tab-inner h3,
.projects-item .project-content .project-tab-inner h4,
.projects-item .project-content .project-tab-inner h5,
.projects-item .project-content .project-tab-inner p {
  margin-top: 0;
}
.projects-item .project-content .project-tags {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-right: 2px;
  line-break: unset;
  margin-bottom: 1.5rem;
}
.projects-item .project-content .project-tags span {
  margin-left: 0.7rem;
  font-family: "Valera", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  line-break: unset;
  font-size: 16px;
}
.projects-item .project-content .project-links {
  display: flex;
}
.projects-item .project-content .project-links a {
  margin-left: 1rem;
  margin-right: 0;
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 0.3rem;
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
  transition: 0.3s linear;
}
.projects-item .project-content .project-links a:hover {
  color: grey;
  border-bottom: 2px solid grey;
  transition: 0.3s linear;
}
.codepen-projects {
  display: flex;
  justify-content: flex-end;
  padding-top: 2.1rem;
}
.codepen-projects a {
  font-size: 18px;
  font-family: "Neue-Medium", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.tabs {
  overflow: hidden;
}
.tabs input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  width: 100%;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.tab-content {
  max-height: 0;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75em;
  cursor: pointer;
}
input:checked + .tab-label {
  color: #ce3120;
}
input:checked + .tab-label h2,
input:checked + .tab-label h3 {
  color: #ce3120;
}
input:checked + .tab-label h3, input:checked + .tab-label h4 {
  color: #ce3120;
}
input:checked + .tab-label.competence-label {
  color: #ce3120;
  border-color: #ce3120;
  justify-content: flex-start;
  width: 100%;
  transition: 0.3s linear;
}
input:checked + .tab-label.competence-label span {
  color: #ce3120;
}
input:checked ~ .tab-content {
  margin-top: 1rem;
  max-height: 100vh;
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}
input:checked ~ .tab-content.competence-content {
  margin-bottom: 0;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0rem;
}

.competence-wrapper div ~ div:nth-child(3) input:checked + .tab-label.competence-label + .tab-content.competence-content {
  margin-bottom: 1.5rem;
}

.distort-text {
  filter: blur(1px);
}

.distort-text:hover {
  animation: distort 400ms infinite;
}

@keyframes distort {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
.dark-theme {
  height: 0;
}
.dark-theme .dot {
  background: rgb(238, 235, 216);
  border-color: rgb(238, 235, 216);
}
.dark-theme .dot--red:hover {
  background: #a565ff;
  border-color: #a565ff;
}
.dark-theme .dot--border:hover {
  border-color: #a565ff;
  background: rgb(35, 35, 35);
}
.dark-theme .dot--blank {
  border-color: rgb(238, 235, 216);
  background: none;
}
.dark-theme a,
.dark-theme p,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme ul,
.dark-theme li,
.dark-theme .nav-list-wrapper a li {
  color: rgb(238, 235, 216);
  transition: 0.3s linear;
}
.dark-theme a li:hover,
.dark-theme .nav-list-wrapper a li:hover {
  color: grey;
  transition: 0.3s linear;
}
.dark-theme a.active li,
.dark-theme .nav-list-wrapper a.active li {
  color: #a565ff;
}
.dark-theme .site-wrapper {
  transition: 0.3s linear;
}
.dark-theme input:checked + .tab-label.competence-label h3,
.dark-theme .project-tab-inner {
  border-color: rgb(238, 235, 216) !important;
}
.dark-theme .project-tags span,
.dark-theme label,
.dark-theme .expertise-tags span {
  color: rgb(238, 235, 216);
}
.dark-theme .competence-label {
  border-color: rgb(238, 235, 216);
}
.dark-theme input:checked + .tab-label {
  color: #a565ff !important;
}
.dark-theme input:checked + .tab-label h3,
.dark-theme input:checked + .tab-label h4 {
  color: #a565ff !important;
}
.dark-theme input:checked + .tab-label.competence-label {
  color: #a565ff !important;
  border-color: #a565ff !important;
}
.dark-theme input:checked + .tab-label.competence-label span {
  color: #a565ff !important;
}
.dark-theme .footer-wrapper ul a {
  border-bottom: 2px solid rgb(238, 235, 216);
}

.light-theme {
  height: 0;
}
.light-theme #darkcontainer {
  display: none;
}
.light-theme .dot {
  background: #222222;
  border-color: #222222;
}
.light-theme .dot--border:hover {
  border-color: #ce3120;
  background: white;
}
.light-theme .dot--red:hover {
  border-color: #ce3120;
  background: #ce3120;
}
.light-theme .dot--blank {
  border-color: black;
  background: none;
}
.light-theme a,
.light-theme p,
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme ul,
.light-theme li,
.light-theme .nav-list-wrapper a li {
  color: black;
  border-color: black;
  transition: 0.3s linear;
}
.light-theme a li:hover,
.light-theme .nav-list-wrapper a li:hover {
  color: grey;
  transition: 0.3s linear;
}
.light-theme a.active li,
.light-theme .nav-list-wrapper a.active li {
  color: #ce3120;
}
.light-theme .site-wrapper {
  background: rgba(253, 253, 247, 0.747);
  transition: 0.3s linear;
}
.light-theme input:checked + .tab-label.competence-label h3,
.light-theme .project-tab-inner {
  border-color: black;
}
.light-theme .project-tags span,
.light-theme .expertise-tags span {
  color: black;
}
.light-theme input:checked + .tab-label {
  color: #ce3120;
}
.light-theme input:checked + .tab-label h3,
.light-theme input:checked + .tab-label h4 {
  color: #ce3120;
}

.center-all-content .main-heading {
  text-align: right;
  transition: 0.3s linear;
}
.center-all-content .left-side {
  width: 27%;
  align-items: flex-end;
  transition: 0.3s linear;
}
.center-all-content .left-side > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}
.center-all-content .right-side {
  width: 73%;
  padding-left: 2%;
  text-align: left;
  transition: 0.3s linear;
}
.center-all-content .nav-list-wrapper a {
  text-align: right;
  transition: 0.3s linear;
}
.center-all-content .home-mission {
  align-items: flex-start;
  text-align: left;
  transition: 0.3s linear;
}
.center-all-content .codepen-projects {
  justify-content: flex-start;
}
.center-all-content .projects-item .project-title {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
  transition: 0.3s linear;
}
.center-all-content .projects-item .project-content {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.center-all-content .projects-item .project-content .project-tab-inner {
  width: 50%;
  font-size: 18px;
  line-height: 1.6;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.center-all-content .projects-item .project-content .project-tags {
  justify-content: flex-start;
}
.center-all-content .projects-item .project-content .project-tags span {
  margin-right: 1rem;
  margin-left: 0;
}
.center-all-content .projects-item .project-content .project-links {
  display: flex;
}
.center-all-content .projects-item .project-content .project-links a {
  margin-right: 1rem;
  margin-left: 0;
  transition: 0.3s linear;
}
.center-all-content .expertise {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.center-all-content .expertise .competence-wrapper {
  display: flex;
  flex-direction: column;
}
.center-all-content .expertise .competence-wrapper > div {
  display: block;
}
.center-all-content .expertise .competence-wrapper .competence {
  max-width: 28rem;
  padding-left: 0;
}
.center-all-content #about {
  align-items: flex-start;
  text-align: left;
}
.center-all-content #about .flex-end {
  display: flex;
  justify-content: flex-start;
}
.center-all-content #about h3,
.center-all-content #about h3 {
  text-align: left;
}/*# sourceMappingURL=App.css.map */