@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@300;500;700&display=swap");
@font-face {
  font-family: "Neue-Thin";
  src: local("Neue-Thin"), url("./fonts/PPNeueMontreal-Thin.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Neue-Medium";
  src: local("Neue-Medium"), url("./fonts/PPNeueMontreal-Medium.otf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "Neue-Thin";
}

::-webkit-scrollbar {
  display: none;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.dots {
  padding-top: 1rem;
  display: block;
}

.dot {
  height: 8px;
  width: 8px;
  display: block;
  border-radius: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border: 3px solid;
}

a {
  text-decoration: none;
  padding-bottom: 0.1rem;
  font-family: "Neue-Medium";
  border-bottom: 2px solid white;
}

.site-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid darkgrey;
  height: calc(100vh - 3rem);
  width: calc(100vw - 3rem);
  margin: 1.5rem;
  position: fixed;
  left: 0;
  top: 0;
}

.site-wrapper .left-side {
  width: 20%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.site-wrapper .right-side {
  padding-right: 1.5rem;
  width: 65%;
  padding-left: 5%;
  overflow-y: scroll;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.main-heading h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.main-heading h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav-list-wrapper {
  list-style-type: none;
  padding-left: 0;
  padding-top: 3rem;
}

.nav-list-wrapper a {
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav-list-wrapper a:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav-list-wrapper li {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: "Neue-Medium";
}

.footer-wrapper {
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.footer-wrapper ul {
  padding-left: 0;
  margin-bottom: 0;
}

.footer-wrapper ul li,
.footer-wrapper ul a {
  border-bottom: none;
  padding-bottom: 0;
  text-decoration: none;
}

.footer-wrapper ul a {
  margin-right: 0.5rem;
}

.main-wrapper {
  margin-top: 1.5rem;
  height: calc(100% - 3rem);
}

.main-wrapper > div {
  height: 100%;
}

.home-mission {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.home-mission h2 {
  margin-top: 10px;
  font-size: 55px;
  margin-bottom: 0px;
}

.expertise {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.expertise .competence-wrapper > div {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.expertise .competence-wrapper > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.expertise h2 {
  font-size: 16px;
  font-family: "Neue-Medium";
}

.expertise .competence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 15px;
  max-width: 25rem;
}

.expertise .competence label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.expertise .competence h3 {
  font-size: 30px;
  margin-bottom: 0rem;
}

.expertise .competence p {
  margin-top: 0.5rem;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 0rem;
}

.expertise .competence .expertise-tags span {
  margin-right: 0.7rem;
  margin-left: 0;
}

.expertise .competence:hover h3 {
  color: grey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

#about {
  padding-top: 7.2rem;
  text-align: right;
}

#about .flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#about .about-inner {
  max-width: 30rem;
}

#about h2 {
  font-size: 16px;
  font-family: "Neue-Medium";
  margin-bottom: 3rem;
}

#about h3 {
  font-size: 24px;
}

#about li {
  list-style-type: none;
}

#projects {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;
}

#projects h2 {
  font-size: 16px;
  font-family: "Neue-Medium";
  margin-bottom: 3rem;
}

.projects-item .project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.projects-item .project-title h3 {
  margin-top: 0.7rem;
  margin-bottom: 0;
  text-align: right;
  font-size: 55px;
  white-space: nowrap;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.projects-item .project-title h4 {
  white-space: nowrap;
  font-family: "Neue-Medium";
  margin: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.projects-item .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.projects-item .project-content .project-tab-inner {
  width: 50%;
  font-size: 18px;
  line-height: 1.6;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  border-right: 2px solid;
  border-left: 0px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projects-item .project-content .project-tab-inner p:nth-child(1) {
  margin-top: 0;
}

.projects-item .project-content .project-tags {
  line-break: unset;
  margin-bottom: 1.5rem;
}

.projects-item .project-content .project-tags span {
  margin-left: 1rem;
  margin-right: 0;
  line-break: unset;
}

.projects-item .project-content .project-links a {
  margin-left: 1rem;
  margin-right: 0;
  text-decoration: none;
  padding-bottom: 0.3rem;
  font-family: "Neue-Medium";
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.projects-item .project-content .project-links a:hover {
  color: grey;
  border-bottom: 2px solid grey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.projects-item:hover .project-title h3,
.projects-item:hover .project-title h4 {
  color: grey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.tabs {
  overflow: hidden;
}

.tabs input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  width: 100%;
  overflow: hidden;
}

.tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  /* Icon */
}

.tab-content {
  max-height: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.75em;
  cursor: pointer;
}

input:checked + .tab-label.competence-label h3 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid;
}

input:checked ~ .tab-content {
  margin-top: 1rem;
  max-height: 100vh;
  margin-bottom: 3rem;
  padding-bottom: 0.5rem;
}

input:checked ~ .tab-content.competence-content {
  margin-bottom: 0;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
}

.dark-theme {
  height: 0;
}

.dark-theme .dot {
  background: white;
  border-color: white;
}

.dark-theme .dot--red:hover {
  background: #cb3929;
  border-color: #ca3a29;
}

.dark-theme .dot--border:hover {
  border-color: #ca3a29;
  background: rgba(0, 0, 0, 0);
}

.dark-theme a,
.dark-theme p,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme ul,
.dark-theme li,
.dark-theme .nav-list-wrapper a li {
  color: white;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.dark-theme a:hover,
.dark-theme .nav-list-wrapper a li:hover {
  color: grey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.dark-theme .site-wrapper {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid darkgrey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.dark-theme input:checked + .tab-label.competence-label h3,
.dark-theme .project-tab-inner {
  border-color: white !important;
}

.dark-theme .project-tags span,
.dark-theme .expertise-tags span {
  color: white;
}

.light-theme {
  height: 0;
}

.light-theme .dot {
  background: #222222;
  border-color: #222222;
}

.light-theme .dot--border:hover {
  border-color: #ca3a29;
  background: white;
}

.light-theme .dot--red:hover {
  border-color: #ca3a29;
  background: #ca3a29;
}

.light-theme a,
.light-theme p,
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme ul,
.light-theme li,
.light-theme .nav-list-wrapper a li {
  color: black;
  border-color: black;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.light-theme a:hover,
.light-theme .nav-list-wrapper a li:hover {
  color: grey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.light-theme .site-wrapper {
  background: rgba(253, 253, 247, 0.6);
  border: 1px solid lightgrey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.light-theme input:checked + .tab-label.competence-label h3,
.light-theme .project-tab-inner {
  border-color: black;
}

.light-theme .project-tags span,
.light-theme .expertise-tags span {
  color: black;
}

.center-all-content .main-heading {
  text-align: right;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .left-side {
  width: 27%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .left-side > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.center-all-content .right-side {
  width: 73%;
  padding-left: 2%;
  text-align: left;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .nav-list-wrapper a {
  text-align: right;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .home-mission {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .projects-item .project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .projects-item .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.center-all-content .projects-item .project-content .project-tab-inner {
  width: 50%;
  font-size: 18px;
  line-height: 1.6;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  border-left: 2px solid;
  border-right: 0px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.center-all-content .projects-item .project-content .project-tags span {
  margin-right: 1rem;
  margin-left: 0;
}

.center-all-content .projects-item .project-content .project-links a {
  margin-right: 1rem;
  margin-left: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .expertise .competence-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center-all-content .expertise .competence-wrapper > div {
  display: block;
}

.center-all-content .expertise .competence-wrapper .competence {
  max-width: 25rem;
}

.center-all-content #about {
  text-align: left;
}

.center-all-content #about .flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center-all-content #about h3,
.center-all-content #about h3 {
  text-align: left;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.svg-icon-email {
  width: 2.1rem;
  height: 2.1rem;
}

.svg-icon-cv {
  width: 1.9rem;
  height: 1.9rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}

.mobile-wrapper {
  display: none;
}

@media only screen and (max-width: 700px) {
  canvas {
    display: none;
  }
  .main-wrapper {
    display: none;
  }
  .mobile-wrapper {
    display: initial;
  }
  .mobile-wrapper canvas {
    display: initial;
  }
  .dots {
    margin-top: 1.1rem;
  }
  .dot--border {
    display: none;
  }
  .mobile-title {
    margin-top: 4rem;
    font-size: 18px;
    font-family: "Neue-Medium";
  }
  .site-wrapper {
    margin: 0.5rem;
    height: calc(100vh - 1rem);
    width: calc(100vw - 1rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-wrapper .dots {
    padding-top: 0;
  }
  .site-wrapper .right-side,
  .site-wrapper .left-side {
    width: calc(100% - 2rem);
    padding: 1rem;
  }
  .site-wrapper .left-side {
    padding-top: 0.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid lightgrey;
  }
  .site-wrapper .left-side > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .site-wrapper .main-heading h1 {
    font-size: 35px;
  }
  .site-wrapper .nav-wrapper > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .site-wrapper .nav-list-wrapper {
    display: none;
  }
  .site-wrapper .footer-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
  .site-wrapper .footer-wrapper ul {
    margin-top: 0;
  }
  .home-mission {
    margin-top: 20vh;
    padding-bottom: 5rem;
    margin-right: 0.2rem;
    border-right: 2px solid black;
  }
  .home-mission h2 {
    font-size: 30px;
    text-align: right;
    padding-right: 1rem;
    margin-top: 0;
  }
  .expertise {
    height: auto;
  }
  #projects {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .projects-item .project-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projects-item .project-title h3 {
    font-size: 35px;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
  }
  .projects-item .project-title h4 {
    margin: 0;
  }
  .projects-item .project-content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
  }
  .projects-item .project-content .project-tab-inner {
    width: 100%;
    border-right: none;
    border-left: 2px solid;
    padding-left: 1rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .projects-item .project-content .project-tab-inner .project-tags {
    margin-bottom: 1rem;
  }
  .projects-item .project-content .project-tab-inner .project-tags span {
    margin-left: 0;
    margin-right: 1rem;
  }
  .projects-item .project-content .project-tab-inner .project-links a {
    margin-left: 0;
    margin-right: 1rem;
  }
  input:checked ~ .tab-content {
    margin-bottom: 0.5rem;
    padding-bottom: 2rem;
  }
  #about {
    padding-top: 0;
    text-align: left;
  }
  .dark-theme .home-mission {
    border-right: 2px solid white;
  }
}
/*# sourceMappingURL=App.css.map */