@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@300;500;700&display=swap");
@font-face {
  font-family: "Neue-Thin";
  src: local("Neue-Thin"), url("./fonts/PPNeueMontreal-Thin.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Neue-Medium";
  src: local("Neue-Medium"), url("./fonts/PPNeueMontreal-Medium.otf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "Neue-Thin";
}

::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4 {
  font-family: 'Neue-Thin', sans-serif;
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

a {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  padding-bottom: 0.1rem;
  border-bottom: 2px solid white;
}

a:hover {
  color: grey !important;
  border-color: grey !important;
}

.site-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid darkgrey;
  height: calc(100vh - 3rem);
  width: calc(100vw - 3rem);
  margin: 1.5rem;
  position: fixed;
  left: 0;
  top: 0;
}

.site-wrapper .left-side {
  width: 20%;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.site-wrapper .right-side {
  padding-right: 1.5rem;
  width: 65%;
  padding-left: 5%;
  overflow-y: scroll;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.main-wrapper {
  margin-top: 1.5rem;
  height: calc(100% - 3rem);
}

.main-wrapper > div {
  height: 100%;
}

.mobile-wrapper {
  display: none;
}

canvas {
  height: 94vh;
  width: 94vw;
  display: fixed;
  top: 0;
  z-index: -10;
}

.main-heading h1 {
  font-family: 'Neue-Thin', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.main-heading h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  margin-top: 5px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav-list-wrapper {
  list-style-type: none;
  padding-left: 0;
  padding-top: 3rem;
}

.nav-list-wrapper a {
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav-list-wrapper a:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.nav-list-wrapper a.active {
  color: #ca3a29;
}

.nav-list-wrapper li {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: 'Neue-Medium', sans-serif;
  font-weight: bold;
  font-style: normal;
}

.dots {
  padding-top: 1rem;
  display: block;
}

.dot {
  height: 8px;
  width: 8px;
  display: block;
  border-radius: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  border: 3px solid;
}

.dot--blank {
  border: 2px solid;
}

.footer-wrapper {
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.footer-wrapper ul {
  padding-left: 0;
  margin-bottom: 0;
}

.footer-wrapper ul li,
.footer-wrapper ul a {
  font-family: 'Neue-Medium', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 0.1rem;
}

.footer-wrapper ul a {
  margin-right: 0.5rem;
}

.home-mission {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.home-mission h2 {
  margin-top: 10px;
  font-size: 55px;
  margin-bottom: 0px;
}

.expertise {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.expertise .competence-wrapper > div {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.expertise .competence-wrapper > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.expertise h2 {
  font-size: 18px;
  font-family: 'Neue-Medium', sans-serif;
  font-weight: bold;
  font-style: normal;
}

.expertise .competence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 27rem;
  margin-top: 2rem;
}

.expertise .competence label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.expertise .competence h3 {
  margin-top: 0.3rem;
  font-size: 34px;
  margin-bottom: 0rem;
}

.expertise .competence p {
  margin-top: 0.5rem;
  line-height: 1.5;
  margin-bottom: 0rem;
}

.expertise .competence .expertise-tags {
  line-break: unset;
  border-top: 1px solid;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.expertise .competence .expertise-tags span {
  margin-left: 0rem;
  margin-right: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-break: unset;
  font-size: 14px;
  line-height: 1.5;
}

.expertise .competence:hover h3 {
  color: grey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.about {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#about {
  text-align: left;
}

#about .about-inner {
  max-width: 27rem;
}

#about .about-inner p {
  line-height: 1.5;
  margin-top: 0;
}

#about h2 {
  font-size: 16px;
  font-family: 'Neue-Medium', sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 3rem;
}

#about h3 {
  font-size: 30px;
  margin-bottom: .7rem;
  margin-top: 1rem;
  font-family: 'Neue-Thin', sans-serif;
  font-weight: normal;
  font-style: normal;
}

#about li {
  list-style-type: none;
}

#projects {
  padding-top: 7.2rem;
  padding-bottom: 1rem;
}

#projects h2 {
  font-size: 16px;
  font-family: 'Neue-Medium', sans-serif;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 3rem;
}

.projects-item .project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.projects-item .project-title h3 {
  margin-top: 0.7rem;
  margin-bottom: 0;
  text-align: right;
  font-size: 55px;
  white-space: nowrap;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.projects-item .project-title h4 {
  white-space: nowrap;
  font-family: 'Neue-Medium', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: lowercase;
  font-size: 18px;
  margin: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.projects-item .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.projects-item .project-content .project-tab-inner {
  width: 50%;
  font-size: 18px;
  line-height: 1.5;
  padding-right: 1.5rem;
  padding-bottom: 0.5rem;
  border-right: 2px solid;
  border-left: 0px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projects-item .project-content .project-tab-inner h2,
.projects-item .project-content .project-tab-inner h3,
.projects-item .project-content .project-tab-inner h4,
.projects-item .project-content .project-tab-inner h5,
.projects-item .project-content .project-tab-inner p {
  margin-top: 0;
}

.projects-item .project-content .project-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 2px;
  line-break: unset;
  margin-bottom: 1.5rem;
}

.projects-item .project-content .project-tags span {
  margin-left: 0.7rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 500;
  line-break: unset;
  font-size: 16px;
}

.projects-item .project-content .project-links a {
  margin-left: 1rem;
  margin-right: 0;
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 0.3rem;
  font-family: 'Neue-Medium', sans-serif;
  font-weight: bold;
  font-style: normal;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.projects-item .project-content .project-links a:hover {
  color: grey;
  border-bottom: 2px solid grey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.projects-item:hover .project-title h3,
.projects-item:hover .project-title h4 {
  color: grey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.codepen-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 5rem;
}

.codepen-projects a {
  font-size: 18px;
  font-family: 'Neue-Medium', sans-serif;
  font-weight: bold;
  font-style: normal;
}

.tabs {
  overflow: hidden;
}

.tabs input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  width: 100%;
  overflow: hidden;
}

.tab-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tab-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.75em;
  cursor: pointer;
}

input:checked + .tab-label {
  color: black;
}

input:checked + .tab-label h2,
input:checked + .tab-label h3 {
  color: black;
}

input:checked ~ .tab-content {
  margin-top: 1rem;
  max-height: 100vh;
  margin-bottom: 1rem;
  padding-bottom: 0rem;
}

input:checked ~ .tab-content.competence-content {
  margin-bottom: 0;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  margin-bottom: 0rem;
}

.competence-wrapper div ~ div:nth-child(3) input:checked + .tab-label.competence-label + .tab-content.competence-content {
  margin-bottom: 1.5rem;
}

.distort-text {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.distort-text:hover {
  -webkit-animation: distort 400ms infinite;
          animation: distort 400ms infinite;
}

@-webkit-keyframes distort {
  0% {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
  }
  5% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
  }
  10% {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
  }
  15% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
  }
  20% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

@keyframes distort {
  0% {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
  }
  5% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
  }
  10% {
    -webkit-transform: skewX(-15deg);
            transform: skewX(-15deg);
  }
  15% {
    -webkit-transform: skewX(15deg);
            transform: skewX(15deg);
  }
  20% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
  100% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

.dark-theme {
  height: 0;
}

.dark-theme .dot {
  background: white;
  border-color: white;
}

.dark-theme .dot--red:hover {
  background: #cb3929;
  border-color: #ca3a29;
}

.dark-theme .dot--border:hover {
  border-color: #ca3a29;
  background: rgba(0, 0, 0, 0);
}

.dark-theme .dot--blank {
  border-color: white;
  background: none;
}

.dark-theme a,
.dark-theme p,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3,
.dark-theme h4,
.dark-theme h5,
.dark-theme ul,
.dark-theme li,
.dark-theme .nav-list-wrapper a li {
  color: white;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.dark-theme a li:hover,
.dark-theme .nav-list-wrapper a li:hover {
  color: grey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.dark-theme a.active li,
.dark-theme .nav-list-wrapper a.active li {
  color: #ca3a29;
}

.dark-theme .site-wrapper {
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid darkgrey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.dark-theme input:checked + .tab-label.competence-label h3,
.dark-theme .project-tab-inner {
  border-color: white !important;
}

.dark-theme .project-tags span,
.dark-theme .expertise-tags span {
  color: white;
}

.dark-theme input:checked + .tab-label {
  color: white;
}

.dark-theme input:checked + .tab-label h3, .dark-theme input:checked + .tab-label h4 {
  color: white;
}

.dark-theme .footer-wrapper ul a {
  border-bottom: 2px solid white;
}

.light-theme {
  height: 0;
}

.light-theme .dot {
  background: #222222;
  border-color: #222222;
}

.light-theme .dot--border:hover {
  border-color: #ca3a29;
  background: white;
}

.light-theme .dot--red:hover {
  border-color: #ca3a29;
  background: #ca3a29;
}

.light-theme .dot--blank {
  border-color: black;
  background: none;
}

.light-theme a,
.light-theme p,
.light-theme h1,
.light-theme h2,
.light-theme h3,
.light-theme h4,
.light-theme h5,
.light-theme ul,
.light-theme li,
.light-theme .nav-list-wrapper a li {
  color: black;
  border-color: black;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.light-theme a li:hover,
.light-theme .nav-list-wrapper a li:hover {
  color: grey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.light-theme a.active li,
.light-theme .nav-list-wrapper a.active li {
  color: #ca3a29;
}

.light-theme .site-wrapper {
  background: rgba(253, 253, 247, 0.753);
  border: 1px solid lightgrey;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.light-theme input:checked + .tab-label.competence-label h3,
.light-theme .project-tab-inner {
  border-color: black;
}

.light-theme .project-tags span,
.light-theme .expertise-tags span {
  color: black;
}

.light-theme input:checked + .tab-label {
  color: black;
}

.light-theme input:checked + .tab-label h3, .light-theme input:checked + .tab-label h4 {
  color: black;
}

.center-all-content .main-heading {
  text-align: right;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .left-side {
  width: 27%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .left-side > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.center-all-content .right-side {
  width: 73%;
  padding-left: 2%;
  text-align: left;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .nav-list-wrapper a {
  text-align: right;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .home-mission {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .codepen-projects {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center-all-content .projects-item .project-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .projects-item .project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.center-all-content .projects-item .project-content .project-tab-inner {
  width: 50%;
  font-size: 18px;
  line-height: 1.6;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
  border-left: 2px solid;
  border-right: 0px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.center-all-content .projects-item .project-content .project-tags {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center-all-content .projects-item .project-content .project-tags span {
  margin-right: 1rem;
  margin-left: 0;
}

.center-all-content .projects-item .project-content .project-links a {
  margin-right: 1rem;
  margin-left: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.center-all-content .expertise .competence-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center-all-content .expertise .competence-wrapper > div {
  display: block;
}

.center-all-content .expertise .competence-wrapper .competence {
  max-width: 26rem;
}

.center-all-content #about {
  text-align: left;
}

.center-all-content #about .flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.center-all-content #about h3,
.center-all-content #about h3 {
  text-align: left;
}
/*# sourceMappingURL=App.css.map */