// Global

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@300;500;700&display=swap");

@font-face {
  font-family: "Neue-Thin";
  src: local("Neue-Thin"), url("./fonts/PPNeueMontreal-Thin.otf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Neue-Medium";
  src: local("Neue-Medium"), url("./fonts/PPNeueMontreal-Medium.otf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "Neue-Thin";
}

$text-color: white;
$text-hover: grey;
$background-color: black;
$border-color: darkgrey;

// Elements

::-webkit-scrollbar {
  display: none;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.dots {
  padding-top: 1rem;
  display: block;
}

.dot {
  height: 8px;
  width: 8px;
  display: block;
  border-radius: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s linear;
  border: 3px solid;
}

a {
  text-decoration: none;
  padding-bottom: 0.1rem;
  font-family: "Neue-Medium";
  border-bottom: 2px solid $text-color;
}

// Structure

.site-wrapper {
  display: flex;
  justify-content: space-between;
  // background: $background-color;
  border: 1px solid $border-color;
  height: calc(100vh - 3rem);
  width: calc(100vw - 3rem);

  margin: 1.5rem;
  position: fixed;
  left: 0;
  top: 0;

  .left-side {
    width: 20%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s linear;
  }

  .right-side {
    // text-align: right;
    padding-right: 1.5rem;
    width: 65%;
    padding-left: 5%;
    overflow-y: scroll;
    transition: 0.3s linear;
  }
}

.main-heading {
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
    transition: 0.3s linear;
  }
  h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 5px;
    transition: 0.3s linear;
  }
}

.nav-list-wrapper {
  list-style-type: none;
  padding-left: 0;
  padding-top: 3rem;

  a {
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s linear;
    &:hover {
      transition: 0.3s linear;
    }
  }

  li {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-family: "Neue-Medium";
  }
}

.footer-wrapper {
  margin-top: auto;
  margin-bottom: 0.5rem;

  ul {
    padding-left: 0;
    margin-bottom: 0;
    li,
    a {
      // color: $text-color;
      border-bottom: none;
      padding-bottom: 0;
      text-decoration: none;
    }

    a {
      margin-right: 0.5rem;
    }
  }
}

.main-wrapper {
  margin-top: 1.5rem;
  height: calc(100% - 3rem);

  > div {
    height: 100%;
  }
}

// Home

.home-mission {
  h2 {
    margin-top: 10px;
    font-size: 55px;
    margin-bottom: 0px;
  }

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  transition: 0.3s linear;
}

// Expertise

.expertise {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .competence-wrapper > div {
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 0.5rem;

    > div {
      display: flex;
      justify-content: flex-end;
    }
  }

  h2 {
    font-size: 16px;
    font-family: "Neue-Medium";
  }

  .competence {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    max-width: 25rem;
    label {
      display: flex;
      flex-direction: column;
    }

    h3 {
      font-size: 30px;
      margin-bottom: 0rem;
    }

    p {
      margin-top: 0.5rem;
      font-size: 15px;
      line-height: 1.5;
      margin-bottom: 0rem;
    }

    .expertise-tags span {
      margin-right: 0.7rem;
      margin-left: 0;
    }

    &:hover {
      h3 {
        color: $text-hover;
        transition: 0.3s linear;
      }
    }
  }
}

// About

#about {
  padding-top: 7rem;
  text-align: right;

  .flex-end {
    display: flex;
    justify-content: flex-end;
  }

  .about-inner {
    max-width: 30rem;
  }

  h2 {
    font-size: 16px;
    font-family: "Neue-Medium";
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 24px;
  }

  li {
    list-style-type: none;
  }
}

// Projects

#projects {
  padding-top: 7rem;
  h2 {
    font-size: 16px;
    font-family: "Neue-Medium";
    margin-bottom: 3rem;
  }
}

.projects-item {
  .project-title {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    transition: 0.3s linear;

    h3 {
      margin-top: 0.7rem;
      margin-bottom: 0;
      text-align: right;
      font-size: 55px;
      white-space: nowrap;
      transition: 0.3s linear;
    }

    h4 {
      white-space: nowrap;
      font-family: "Neue-Medium";
      margin: 10px;
      transition: 0.3s linear;
    }
  }

  .project-content {
    display: flex;
    justify-content: flex-end;
    text-align: right;

    .project-tab-inner {
      width: 50%;
      font-size: 18px;
      line-height: 1.6;
      padding-right: 2rem;
      padding-bottom: 0.5rem;
      border-right: 2px solid;
      border-left: 0px solid;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      p:nth-child(1) {
        margin-top: 0;
      }
    }

    .project-tags {
      span {
        margin-left: 1rem;
        margin-right: 0;
        line-break: unset;
      }
      line-break: unset;
      margin-bottom: 1.5rem;
    }

    .project-links {
      a {
        margin-left: 1rem;
        margin-right: 0;
        // color: $text-color;
        text-decoration: none;
        padding-bottom: 0.3rem;
        font-family: "Neue-Medium";
        // border-bottom: 2px solid $text-color;
        transition: 0.3s linear;

        &:hover {
          color: $text-hover;
          border-bottom: 2px solid $text-hover;
          transition: 0.3s linear;
        }
      }
    }
  }

  &:hover {
    .project-title {
      h3,
      h4 {
        color: $text-hover;
        transition: 0.3s linear;
      }
    }
  }
}

// Tabs Styles

.tabs {
  overflow: hidden;
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

.tab {
  width: 100%;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    // font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
    }
    // &::after {
    //   content: "\276F";
    //   width: 1em;
    //   height: 1em;
    //   text-align: center;
    //   transition: all 0.35s;
    // }
  }
  &-content {
    max-height: 0;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75em;

    cursor: pointer;
    &:hover {
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    margin-top: 1rem;
    max-height: 100vh;
    margin-bottom: 3rem;
    padding-bottom: 0.5rem;
  }

  ~ .tab-content.competence-content {
    margin-bottom: 0;
  }
}

// Dark Color Layout

.dark-theme {
  height: 0;
  .dot {
    background: white;
    border-color: white;
    &--red {
      &:hover {
        background: rgb(203, 57, 41);
        border-color: rgb(202, 58, 41);
      }
    }
    &--border {
      &:hover {
        border-color: rgb(202, 58, 41);
        background: rgba(0, 0, 0, 0);
      }
    }
  }

  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  li,
  .nav-list-wrapper a li {
    color: white;
    transition: 0.3s linear;
  }

  a,
  .nav-list-wrapper a li {
    &:hover {
      color: grey;
      transition: 0.3s linear;
    }
  }

  .site-wrapper {
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid darkgrey;
    transition: 0.3s linear;
  }

  .project-tab-inner {
    border-color: white !important;
  }

  .project-tags span,
  .expertise-tags span {
    color: white;
  }
}

// Light Color Layout

.light-theme {
  height: 0;
  .dot {
    background: #222222;
    border-color: #222222;
    &--border {
      &:hover {
        border-color: rgb(202, 58, 41);
        background: white;
      }
    }
    &--red {
      &:hover {
        border-color: rgb(202, 58, 41);
        background: rgb(202, 58, 41);
      }
    }
  }

  a,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  ul,
  li,
  .nav-list-wrapper a li {
    color: black;
    border-color: black;
    transition: 0.3s linear;
  }

  a,
  .nav-list-wrapper a li {
    &:hover {
      color: grey;
      transition: 0.3s linear;
    }
  }

  .site-wrapper {
    background: rgba(253, 253, 247, 0.6);
    border: 1px solid lightgrey;
    transition: 0.3s linear;
  }

  .project-tab-inner {
    border-color: black;
  }

  .project-tags span,
  .expertise-tags span {
    color: black;
  }
}

// Centered Layout

.center-all-content {
  .main-heading {
    text-align: right;
    transition: 0.3s linear;
  }

  .left-side {
    width: 27%;
    align-items: flex-end;
    transition: 0.3s linear;
    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      height: 100%;
    }
  }

  .right-side {
    width: 73%;
    padding-left: 2%;
    text-align: left;
    transition: 0.3s linear;
  }

  .nav-list-wrapper a {
    text-align: right;
    transition: 0.3s linear;
  }

  .home-mission {
    align-items: flex-start;
    text-align: left;
    transition: 0.3s linear;
  }

  .projects-item {
    .project-title {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: baseline;
      transition: 0.3s linear;
    }

    .project-content {
      display: flex;
      justify-content: flex-start;
      text-align: left;

      .project-tab-inner {
        width: 50%;
        font-size: 18px;
        line-height: 1.6;
        padding-left: 2rem;
        padding-bottom: 0.5rem;
        border-left: 2px solid;
        border-right: 0px solid;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p:nth-child(1) {
          margin-top: 0;
        }
      }
      .project-tags {
        span {
          margin-right: 1rem;
          margin-left: 0;
        }
      }

      .project-links {
        a {
          margin-right: 1rem;
          margin-left: 0;
          // color: $text-color;
          text-decoration: none;
          padding-bottom: 0.3rem;
          font-family: "Neue-Medium";
          // border-bottom: 2px solid $text-color;
          transition: 0.3s linear;

          &:hover {
            color: $text-hover;
            border-bottom: 2px solid $text-hover;
            transition: 0.3s linear;
          }
        }
      }
    }

    &:hover {
      .project-title {
        h3,
        h4 {
          color: $text-hover;
          transition: 0.3s linear;
        }
      }
    }
  }

  .expertise {
    .competence-wrapper {
      display: flex;
      justify-content: flex-start;

      > div {
        display: block;
      }

      .competence {
        max-width: 25rem;
      }
    }
  }

  #about {
    .flex-end {
      display: flex;
      justify-content: flex-start;
    }
    h3,
    h3 {
      text-align: left;
    }
    text-align: left;
  }
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon-email {
  width: 2.1rem;
  height: 2.1rem;
}

.svg-icon-cv {
  width: 1.9rem;
  height: 1.9rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: white;
}

.svg-icon circle {
  stroke: white;
  stroke-width: 1;
}
