// This file contains styles for main layouts and pages

#darkcontainer {
    margin-left: 0 !important;
    margin-top: 0 !important;
    background: $asphalt;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

#lightcontainer,
#lightcontainer canvas {
  margin-left: 0 !important;
  margin-top: 0 !important;
  background: $asphalt;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

#lightcontainer canvas {
  background: $milk;
}


.dark-theme {
  #lightcontainer {
    canvas {
      display: none;
    }
  }
}


// Structure

.site-wrapper {
  display: flex;
  justify-content: space-between;
  // background: $background-color;
  // border: 1px solid $border-color;
  // height: calc(100vh - 3rem);
  // width: calc(100vw - 3rem);
  // margin: 1.5rem;

  height: 100vh;
  width: 100vw;
  border: 0;
  position: fixed;
  left: 0;
  top: 0;

  .left-side {
    width: 20%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s linear;
  }

  .right-side {
    // text-align: right;
    padding-right: 1.5rem;
    width: 65%;
    padding-left: 5%;
    overflow-y: scroll;
    transition: 0.3s linear;
  }
}

.main-wrapper {
  margin-top: 1.5rem;
  height: calc(100% - 3rem);

  > div {
    height: 100%;
  }
}

.mobile-wrapper {
  display: none;
}

.light-theme {
  canvas {
    // height: 94vh;
    // width: 94vw;
    position: fixed;
    top: 0;
    z-index: -10;
  }
}


// Heading

.main-heading {
  h1 {
    @include font_title;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 28px;
    transition: 0.3s linear;
  }
  h2 {
    @include font_body;
    font-weight: 300;
    font-size: 14px;
    margin-top: 5px;
    transition: 0.3s linear;
  }
}

// Navigation

.nav-list-wrapper {
  list-style-type: none;
  padding-left: 0;
  padding-top: 3rem;

  a {
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s linear;
    &:hover {
      transition: 0.3s linear;
    }

    &.active {
      color: $red;
    }
  }

  li {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    @include font_bold;
  }
}

.dots {
  padding-top: 1rem;
  display: block;
}

.dot {
  height: 8px;
  width: 8px;
  display: block;
  border-radius: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.3s linear;
  border: 3px solid;
  &--blank {
    border: 2px solid;
  }
}

// Footer

.footer-wrapper {
  margin-top: auto;
  margin-bottom: 0.5rem;

  ul {
    padding-left: 0;
    margin-bottom: 0;
    li,
    a {
      // color: $text-color;
      @include font_bold;
      // border-bottom: none;
      // padding-bottom: 0;
      font-size: 18px;
      text-decoration: none;
      padding-bottom: 0.1rem;
      // border-bottom: 2px solid $text-color;
    }

    a {
      margin-right: 0.5rem;
    }
  }
}

// Home

.home-mission {
  h2 {
    margin-top: 10px;
    font-size: 55px;
    margin-bottom: 0px;
  }

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  transition: 0.3s linear;
}

// Expertise

.expertise {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  .competence-wrapper {
    // padding-top: 5.2rem;
    padding-bottom: .5rem;
    display: flex;
    align-items: flex-end;
    > div {
      align-items: flex-start;
      justify-content: flex-end;
      // margin-bottom: 0.5rem;

      > div {
        // display: flex;
        // justify-content: flex-end;
      }
    }
  }

  h2 {
    font-size: 18px;
    @include font_bold;
  }

  .competence {
    // display: flex;
    // flex-direction: column;
    // padding-right: 15px;
    max-width: 23rem;
    margin-top: auto;
    margin-bottom: 0;
    padding-left: 3rem;
    margin-top: 2rem;

    .competence-content {
      // max-width: 27rem;
      // max-width: 0;
    }

    label {
      // max-width: 20rem;
      display: flex;
      flex-direction: column;

      margin-right: 0;
      font-size: 18px;
      width: auto;
      display: inline-flex;
      text-decoration: none;
      padding-bottom: 0.3rem;
      @include font_bold;
      border-bottom: 2px solid;

      @include font_bold;
      margin-top: 1rem;
      text-transform: lowercase;
      text-decoration: none;
      font-size: 18px;
      transition: 0.3s linear;

      &:hover {
        color: $text-hover;
        opacity: .6;
        border-bottom: 2px solid;
        transition: 0.3s linear;
      }

      span {
   
        @include font_bold;
      // margin-left: 1rem;
 
      }
    }

    h3 {
      min-width: 15rem;
      display: flex;
      // justify-content: flex-end;
      // margin-right: 2rem;
  
      margin-top: 0.3rem;
      font-size: 30px;
      margin-bottom: 0rem;

      // @include font_bold;
      // text-decoration: none;
      // font-size: 18px;
      // transition: 0.3s linear;
    }

    p {
      margin-top: 0.5rem;
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 0rem;
      // text-align: right;
    }

    .expertise-tags {
      line-break: unset;
      width: 100%;
      //margin-bottom: 1.5rem;
      // border-top: 1px solid;
      // padding-top: 1rem;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      span {
        margin-left: 0rem;
        margin-right: 1rem;
        @include font_body;
        // font-weight: 500;
        line-break: unset;
        font-size: 14px;
        line-height: 1.5;
        // color: rgb(202, 58, 41);
        // @include font_tag;

    
      }
    }

    &:hover {
      h3 {
        // color: $text-hover;
        // transition: 0.3s linear;
      }
    }
  }
}

// About

.about {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#about {
  // padding-top: 5.8rem;
  padding-bottom: 1rem;
  text-align: left;

  .flex-end {
    // display: flex;
    // justify-content: flex-end;
  }

  .about-inner {
    max-width: 25rem;
    p {
      line-height: 1.5;
      margin-top: 0;
      font-size: 14px;
    }
  }

  h2 {
    font-size: 16px;
    @include font_bold;
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 0.7rem;
    margin-top: 1rem;
    // text-transform: lowercase;
    // font-size: 18px;
    @include font_title;

    @include font_bold;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s linear;
    &:hover {
      transition: 0.3s linear;
    }

    &.active {
      color: $red;
    }
  }

  li {
    list-style-type: none;
  }
}

// Projects

#projects {
  padding-top: 6.8rem;
  padding-bottom: 1rem;
  h2 {
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    @include font_bold;
    margin-bottom: 3rem;
  }
}

.projects-item {
  .project-title {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    transition: 0.3s linear;

    h3 {
      margin-top: 0.7rem;
      margin-bottom: 0;
      text-align: right;
      font-size: 55px;
      white-space: nowrap;
      transition: 0.3s linear;
    }

    h4 {
      white-space: nowrap;
      @include font_bold;
      text-transform: lowercase;
      font-size: 18px;
      margin: 10px;
      transition: 0.3s linear;
    }
  }

  .project-content {
    display: flex;
    justify-content: flex-end;
    text-align: right;

    .project-tab-inner {
      width: 50%;
      font-size: 14px;
      line-height: 1.5;
      // padding-right: 1.5rem;
      padding-bottom: 0.5rem;
      // border-right: 2px solid;
      border-left: 0px solid;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      h2,
      h3,
      h4,
      h5,
      p {
        margin-top: 0;
      }
    }

    .project-tags {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding-right: 2px;
      span {
        margin-left: 0.7rem;
        @include font_body;
        font-weight: 500;
        line-break: unset;
        font-size: 16px;

        // margin-left: 0;
        // color: rgb(202, 58, 41);
      }

      line-break: unset;
      margin-bottom: 1.5rem;
    }

    .project-links {
      display: flex;
      a {
        margin-left: 1rem;
        margin-right: 0;
        font-size: 18px;
        text-decoration: none;
        padding-bottom: 0.3rem;
        @include font_bold;
        transition: 0.3s linear;

        &:hover {
          color: $text-hover;
          border-bottom: 2px solid $text-hover;
          transition: 0.3s linear;
        }
      }
    }
  }

  &:hover {
    .project-title {
      h3,
      h4 {
        // color: $text-hover;
        // transition: 0.3s linear;
      }
    }
  }
}

.codepen-projects {
  display: flex;
  justify-content: flex-end;
  padding-top: 2.1rem;

  a {
    font-size: 18px;
    @include font_bold;
  }
}

// Tabs Styles

.tabs {
  overflow: hidden;
  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

.tab {
  width: 100%;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  &-content {
    max-height: 0;
    transition: all 0.35s;
    
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75em;

    cursor: pointer;
    &:hover {
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    color: $red;
    h2,
    h3 {
      color: $red;
    }
  }

  + .tab-label {
    h3, h4 {
      color: $red;
    }
  }

  + .tab-label.competence-label {
    color: $red;
    border-color: $red;
    justify-content: flex-start;
    width: 100%;
    transition: .3s linear;

    span {
      color: $red;
    }
    // padding-bottom: 0.5rem;
    // margin-bottom: .7rem;
    // border-bottom: 2px solid;
  }

  ~ .tab-content {
    margin-top: 1rem;
    max-height: 100vh;
    margin-bottom: 1rem;
    padding-bottom: 0rem;
  }

  ~ .tab-content.competence-content {
    // max-width: 20rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    margin-bottom: 0rem;

    // border-top: 1px solid;
  }
}

.competence-wrapper div {
  ~ div:nth-child(3) {
    input:checked {
      + .tab-label.competence-label + .tab-content.competence-content {
        margin-bottom: 1.5rem;
      }
    }
  }
}

// SVG Icons

// .svg-icon-email {
//   width: 2.1rem;
//   height: 2.1rem;
// }

// .svg-icon-cv {
//   width: 1.9rem;
//   height: 1.9rem;
// }

// .svg-icon path,
// .svg-icon polygon,
// .svg-icon rect {
//   fill: white;
// }

// .svg-icon circle {
//   stroke: white;
//   stroke-width: 1;
// }

.distort-text {
  filter: blur(1px);
}
.distort-text:hover {
  animation: distort 400ms infinite;
}

@keyframes distort {
  0% {
    transform: skewX(-15deg);
  }
  5% {
    transform: skewX(15deg);
  }
  10% {
    transform: skewX(-15deg);
  }
  15% {
    transform: skewX(15deg);
  }
  20% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(0deg);
  }
}
