html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {
    background: #FF0000;
}*/

body {
  font-family: 'Helvetica';
}

#general-flex {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  display: grid;
  grid-template-columns: 20% 50% 30%;

}

.default-layout {

  #resume {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 0;
       position: fixed;
    top: 0;
    z-index: 20;
    background: lightgrey;
    transition: .5s ease;
  }

  #main {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 0;
    height: 200vh;
    transition: .5s ease;

    overflow: auto;
    scroll-snap-points-y: repeat(90px);
    scroll-snap-type: mandatory;
    scroll-snap-destination: 100% 0%;
  }

  #cont {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-right: 0;
    background: whitesmoke;

    height: 200vh;
    transition: .5s ease;
    display: grid;
    grid-template-columns: 100%;

    .blind {
      display: none;
    }

    .blind-bottom {
      position: fixed;
      top: 60vh;
      height: 40vh;
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 2;
      background: linear-gradient(to top, rgba(245,245,245,1) 0%, rgba(245,245,245,0) 100%);
    }
  }
}

.content {
  position: fixed;
  top: 5%;
  left: 75%;
  width: 20%;
  transition: .5s ease
}

.title {
  font-size: 3rem;
  text-transform:uppercase;
  position: fixed;
  top: 40%;
  left: 20%;
  transition: .5s ease;
  width: 100%;
}

.current-title {
  opacity: 1;
}

.skill {
  position: fixed;
  top: 60%;
  left: 20%;
  width: 30%;
  transition: .5s ease;
}

.open-layout {
  #resume-switch-button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: linear-gradient(to bottom, red, crimson);
    position: fixed;
    z-index: 30;
    right: 88.3%;
    top: 75%;
    transition: .5s ease;
  }

  .hline {
    display: none;
  }

  #resume {
    grid-column-start: 1;
    grid-column-end: 1;
    width: 0;
    position: fixed;
    top: 0;
    z-index: 20;
    background: lightgrey;
    transition: .5s ease;
  }

  #main {
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 0;
    height: 200vh;
    transition: .5s ease;
  }

  #cont {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-right: 0;
    background: white;
    transition: .5s ease;

    .blind {
      position: fixed;
      top: 0;
      height: 20vh;
      left: 20%;
      width: 100%;
      background: linear-gradient(to bottom, rgba(255,255,255,.8) 0%,  rgba(255,255,255,0) 100%);
      //background: white;
      z-index: 3;
    }

    .blind-bottom {
      display: none;
    }
  }

  .content {
    position: absolute;
    width: 55%;
    left: 30%;
    top: 25%;
    transition: .5s ease;
  }

  .title {
    color: grey;
    position: fixed;
    z-index: 5;
    top: -2%;
    left: 7%;
    transition: .5s ease;
  }

  .skill {
    color: salmon;
    position: fixed;
    z-index: 5;
    top: 13%;
    left: 7%;
    width: 22%;
    transition: .5s ease;
  }
}

#projects, #descriptions{
  display: none;
}

.inview {
  opacity: 0;
  transition: .5s ease;
}

#scroll-line {
  position: fixed;
  width: 15px;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: lightgrey;
  height: 100vh;

}

#scroll-line-over {
  position: fixed;
  width: 15px;
  left: 0;
  top: 0;
  z-index: 6;
  height: 0;
  //background: linear-gradient(to bottom, purple, red, yellow, cyan, blue, violet);
  height: 100vh;
  scroll-snap-points-y: repeat(90px);
  scroll-snap-type: mandatory;
  scroll-snap-destination: 100% 0%;
      transition: .5s ease;
}

.hline {
  position: fixed;
  left: 0;
  width: 3rem;
  //border-bottom: 2px solid lightgrey;
  top: 0;
  z-index: 7;
  transition: .5s ease;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    z-index: 7;
    width: 15px;
    height: 1px;
    background: black;
    transition: .5s ease;
  }

  &:after {
    content: attr(data-ind);
    position: absolute;
    top: 30%;
    left: 20px;
/*    height: 100%;*/
    width: 15rem;
    color: lightgrey;
    font-size: 12px;
    line-height: 12px;
    opacity: 0;
    font-weight: 600;
    transition: .5s ease;
  }

  &:hover {
    cursor: pointer;
    transition: .5s ease;

    &:before {
      width: 60px;
      transition: .5s ease;
    }

    &:after {
      opacity: 1;
      transition: .5s ease;
    }
  }
}

.hidden-image {
  width: 100%;
  height: auto;
}


.front-layout {
  #resume {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;
    height: 100vh;
    background: lightgrey;
    transition: .5s ease;
  }
}


#resume-switch-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, red, crimson);
  position: fixed;
  z-index: 30;
  top: 5rem;
  transition: .5s ease;

  &:hover {
    box-shadow: -1px 0px 20px 2px rgba(0,0,0,0.4);
      transition: .5s ease;
  }
}

.resume-button-open {
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;

  .round {
    background: white;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: auto;
    transition: .3s .3s ease;
  }
}

.resume-button-closed {
  right: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;

  .round {
    background: white;
    width: 0;
    height: 0;
    border-radius: 50%;
    margin: auto;
    transition: .3s .3s ease;
  }
}


#project-switch-button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, red, crimson);
  position: fixed;
  bottom: 2rem;
  transition: .5s ease;

  &:hover {
    box-shadow: -1px 0px 20px 2px rgba(0,0,0,0.4);
    transition: .5s ease;
  }
}

.button-open {
  right: 87%;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;

  .round {
    background: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin: auto;
    transition: .3s .3s ease;
  }
}

.button-closed {
  right: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;

  .round {
    background: white;
    width: 0;
    height: 0;
    border-radius: 50%;
    margin: auto;
    transition: .3s .3s ease;
  }
}
